#myVideo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navbar {
    
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.6;
}

.liste {
    float: left;
    opacity: 1;
    
}

.liste a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

/* Change the link color to #111 (black) on hover */
.liste a:hover {
  background-color: #111;
}